{{ define "parts/select" }}
<label for="{{ .ID }}">{{ .Label }}</label>
<select id="{{ .ID }}" name="{{ .Name }}">
  {{ range .Options }}
    <option value="{{ .Value }}" {{ if eq $.SelectedValue .Value }}selected{{ end }}>{{ .Label }}</option>
  {{ end }}
</select>
{{ end }}